@import '../../../../../stylesheets/theme';


.body {
  align-items: center;
  background: theme( background );
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  // Raise above everything.
  z-index: 100;
}

.btn {
  &:first-of-type {
    margin-bottom: 2rem;
  }
  z-index: 10;
}

.title {
  // Absolute centered
  font-size: 2rem;
  left: 50%;
  position: absolute;
  top: 2.5rem;
  transform: translateX( -50% );
  white-space: nowrap;
}
