@import '../../../stylesheets/theme';


.body {
  align-items: center;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  position: relative;
}

.btn {
  z-index: 10;

  margin-bottom: 1rem;

  &__start {
    font-size: 2.5rem;
    text-transform: uppercase;
  }
}

.thanks {
  // Absolute centered
  bottom: 0;
  left: 50%;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  transform: translateX( -50% );
  width: 60%;
  z-index: 10;
}

.title {
  &_1,
  &_2 {
    text-transform: uppercase;
  }

  &_1 {
    color: firebrick;
    font-size: 1.175rem;
    transform: translateX( - 10px );
  }

  &_2 {
    font-size: 2.75rem;
  }

  &_container {
    margin-bottom: 2rem;
    margin-top: 2rem;
    z-index: 10;
  }
}
